{
  "env":
  {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "plugin:vue/essential",
  "plugins": [
    "vue"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "build/webpack.base.conf.js"
      },
      "extensions": [".js", ".vue"]
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules":
  {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": [
      "off"
    ]
  }
}
