$color-white: #ffffff;
$color-black: #000000;

$color-grey93: #ededed;
$color-grey: #bebebe;
$color-grey66: #a8a8a8;
$color-grey40: #666666;

// body
$color-body-background:  $color-grey93;
$color-text: $color-grey40;

// chart
$color-chart-background: $color-white;

// Component - Loading
$color-loading-spinner: $color-grey66;

// Component - Error Message
$color-error-message: $color-grey66;
